# Prerequisites
*.d
build/
dist/
bin/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*env*
build
.idea
cmake-build-debug
cmake-build-release
data/*.bin
__pycache__/
tinyinfer/__pycache__
tinyinfer/__pycache__/
tinyinfer/__pycache__/*.pyc
*.nsys-rep
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
