[submodule "3rd/pybind11"]
	path = 3rd/pybind11
	url = https://gitee.com/yunfeiliu/pybind11
[submodule "3rd/cutlass"]
	path = 3rd/cutlass
	url = https://gitee.com/yunfeiliu/cutlass
[submodule "3rd/ppl.kernel.cuda"]
	path = 3rd/ppl.kernel.cuda
	url = https://gitee.com/yunfeiliu/ppl.kernel.cuda
[submodule "3rd/MNN"]
	path = 3rd/MNN
	url = https://gitee.com/yunfeiliu/MNN
[submodule "3rd/llama.cpp"]
	path = 3rd/llama.cpp
	url = https://gitee.com/yunfeiliu/llama.cpp
[submodule "3rd/TNN"]
	path = 3rd/TNN
	url = https://gitee.com/yunfeiliu/TNN
